body {
  font-family: "Open Sans", sans-serif;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
.jumbotron{
  /* #e66465 */
  background: linear-gradient( red, yellow, green);
  margin-bottom: 0;
  letter-spacing: 1rem;
}