body {
  font-family: "Open Sans", sans-serif;
  background-color: rgb(34,48,72)
}

h1, h2, h3,  .card-body{
  font-family: "Lobster", cursive;
  color: white;
}

.card-title{
  font-weight: 500;
  font-size: 1.25rem;
  color:darkslategray;
}
.card-title{
  color:darkslategray;
}

p{
  color: black;
  font-size: 15px;
}
.card-img-overlay .card-title {
 
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 28px;
  background-color: rgb(34,48,72)
}

.row-content {
  padding: 50px;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-color: rgb(34,48,72);
  padding: 20px 0;
  margin-top: 22px;
}

.jumbotron {
  margin: 0;
 /* padding: 80px;  */
  background-image: linear-gradient(to right, white,wheat ,white); 
  color: darkslategrey;
}
.welcome{
  font-size: 56px;
  color: darkslategray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  text-align: center;
  letter-spacing: .1em;
}
.navbar-dark {
  background-image: linear-gradient(to right, white, wheat,white);
  color:white;
}

.navbar p{
  color: wheat;
}
.nav
li{
  list-style-type: none;
}
.carousel-h{
height: 80vh;

}
.carousel-caption{
  background-color: rgba(0,0,0,.5);
  border-radius: 50px;
  border:2px solid wheat;
  color: white;
}
.director-container{
  background: linear-gradient(to right, wheat,white,wheat);
}
.welcomjumbo{
  width: 100%;
  height: 30%;
}
.media-title{
  color:white;
 
}
address, label, h5{
  color: white;

}

.onepackage{
  font-size: 36px;
 padding-top:30px;
 font-family: Arial, Helvetica, sans-serif;
 padding-bottom: 30px;
 letter-spacing: .7rem;
 background-image: linear-gradient(to right, wheat,white, wheat)
}
.one{
 font-size: 50px;
 font-family: Arial, Helvetica, sans-serif;
 padding-bottom: 30px;
 letter-spacing: .4rem;
 background-image: linear-gradient(to right, wheat,white, wheat)
}
.reserveHist{
  font-family: Arial, Helvetica, sans-serif;
 letter-spacing: 0.1rem;
 
 background-image: linear-gradient(to right, wheat,white, wheat)
}
.logowelcome{
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 400;
  letter-spacing: 2rem;
  background-color: linear-gredient(to right, red, yellow, green)
}
.t{
  font-size: 16px;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

 letter-spacing: .2rem;
 color:wheat;
 padding: 3px 10px;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #e1e4e8;
}
.container-width{
  /* max-width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  color:white;
   background-color: rgb(34,48,72);
}
li{
  list-style-type: none;
 font-style: oblique;
 font-family: fantasy;
 font-weight: 800;
 letter-spacing: .1rem;
 
}
.my-class{
  display: none;
  background-color:white;
}
/* .intro {
  background: url("/assets/images/zebra.jpeg")no-repeat center center fixed;
  
  background-size: cover;
} */
.addis{
  background: url("/assets/images/nilefall.jpg")no-repeat center center fixed;
  
  background-size: cover
}


.page-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0%);
  transition: 1300ms ease-out;
}
.page-enter {
    opacity: 0;
    transform: translateY(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: 1300ms ease-in;
}
.modal-picture{
  background: url("/assets/images/addis.jpg")no-repeat center center fixed;
}